@font-face {
  font-family: 'Clash Display Variable';
  src: url('../assets/fonts/ClashDisplay/ClashDisplay-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-VariableFont_wght.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}



// @font-face {
//   font-family: 'SharpSans-Bold';
//   src: url('../fonts/BodyFontSharp-sans/SharpSansBold.otf') format('opentype');
//   font-weight: bold;
//   font-style: normal;
// }
