.dashboard-content {
    &.my-listings {
        &.add-new-product {
            &.add-new-category {
                .inner {
                    max-width: 940px;
                    .form-container {
                        form {
                            .input-wrap {
                                button {
                                    border: 1px solid transparent;
                                    &:hover {
                                        background-color: var(--mint-whisper);
                                        color: var(--forest-depth);
                                        border: 1px solid var(--forest-depth);
                                    }
                                }
                            }
                        }
                    }

                    .categories{
                        margin-top: 40px;
                        display: flex;
                        width: 100%;
                        // overflow-x: hidden;
                        justify-content: space-between;
                        row-gap: 20px;
                        gap: 20px;

                        @include responsive(sm) {
                            flex-direction: column;
                            gap: 20px;
                        }
                        .table-wrap{
                            .table{
                                .header{
                                    @include responsive(sm){
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
