.dashboard-content {
    &.votes-and-interest{
        .inner{
            .content-main-heading{
                margin-bottom: 30px;
            }
            .chart-wrap{
                background: var(--mint-whisper);
                border: 1px solid var(--forest-depth);
                padding: 40px 70px;
                border-radius: 10px;
                .heading-wrap{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;
                    align-items: center;
                    svg{
                        width: 32px;
                        height: 32px;
                    }
                    .heading{
                        font-family: var(--geist-medium);
                        font-size: var(--heading32);
                        color: var(--forest-depth);
                        font-weight: 400;
                        line-height: 100%;
                        letter-spacing: 0;
                        .sub-text{
                            font-size: var(--heading24);
                        }
                    }
                    
                }
                .tabs-wrap{
                    display: flex;
                    gap: 60px;
                    margin-bottom: 40px;
                    .tabs {
                        display: flex;
                        width: fit-content;
                        border-radius: 12px;
                        overflow: hidden;
                        .tab {
                            display: inline-block;
                            padding: 12px 40px;
                            background: var(--soft-cream);
                            cursor: pointer;
                            font-size: var(--text14);
                            font-family: var(--geist-medium);
                            color: var(--forest-depth);
                            line-height: 100%;
                            border-right: 1px solid var(--forest-depth);
                            &:last-child{
                                border: none;
                            }
                            &.active {
                                background: var(--forest-depth);
                                color: var(--snow-veil);
                            }
                        }
                    }
                    .identifier-wrap{
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        .identifier{
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            .yes, .no{
                                width: 12px;
                                height: 12px;
                                border-radius: 2px;
                            }
                            .yes{
                                background-color: var(--forest-depth);
                            }
                            .no{
                                background-color: var(--lime-pastel);
                            }
                            span{
                                font-size: var(--text14);
                                font-family: var(--geist-medium);
                                line-height: 100%;
                                color: var(--forest-depth);
                                text-transform: capitalize;
                            }
                        }
                    }

                }
                canvas {
                }
            }
        }
        }
}